/Module6Wk4/Module6Wk4/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.idea/.idea.Module6Wk4.dir/.idea/encodings.xml
/Module6Wk4/.idea/.idea.Module6Wk4/.idea/encodings.xml
/.idea/.idea.Module6Wk4.dir/.idea/indexLayout.xml
/Module6Wk4/.idea/.idea.Module6Wk4/.idea/indexLayout.xml
/Module6Wk4/Module6Wk4/obj/Debug/net6.0/Module6Wk4.AssemblyInfo.cs
/Module6Wk4/Module6Wk4/obj/Debug/net6.0/Module6Wk4.AssemblyInfoInputs.cache
/Module6Wk4/Module6Wk4/obj/Debug/net6.0/Module6Wk4.assets.cache
/Module6Wk4/Module6Wk4/obj/Debug/net6.0/Module6Wk4.csproj.AssemblyReference.cache
/Module6Wk4/Module6Wk4/obj/Module6Wk4.csproj.nuget.dgspec.json
/Module6Wk4/Module6Wk4/obj/Module6Wk4.csproj.nuget.g.props
/Module6Wk4/Module6Wk4/obj/Module6Wk4.csproj.nuget.g.targets
/Module6Wk4/Module6Wk4/obj/Debug/net6.0/Module6Wk4.GeneratedMSBuildEditorConfig.editorconfig
/Module6Wk4/Module6Wk4/obj/Debug/net6.0/Module6Wk4.GlobalUsings.g.cs
/Module6Wk4/Module6Wk4/obj/project.assets.json
/Module6Wk4/Module6Wk4/obj/project.nuget.cache
/Module6Wk4/Module6Wk4/obj/project.packagespec.json
/Module6Wk4/Module6Wk4/obj/rider.project.restore.info
/.idea/.idea.Module6Wk4.dir/.idea/vcs.xml
/Module6Wk4/.idea/.idea.Module6Wk4/.idea/vcs.xml
